<!-- reset-password.component.html -->

<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full bg-white rounded-lg shadow-md p-8 flex flex-col items-center justify-center text-center">
      <div class="mb-6">
        <img src="../../../assets/images/gmail-logo.png" alt="Gmail Logo" class="w-16 h-16 mx-auto mb-2 text-stone-500">
        <h1 class="text-2xl font-bold">Reset Password</h1>
      </div>
  
      <p class="text-gray-600 mb-4">Please check your email address <span class="font-bold">{{ userEmail }}</span> for instructions to reset your password.</p>
      
      <button type="button" class="bg-stone-600 hover:bg-stone-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="resendEmail()">Resend Email</button>
  
      <div class="mt-4 text-sm">
        <p>Remembered your password? <a href="login" class="text-stone-500 font-bold hover:text-stone-700">Log In</a></p>
      </div>
    </div>
  </div>
  