
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-semibold text-center mb-8 font-inknut">UPLOAD YOUR HOUSE PICTURES</h1>
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="picture" class="block text-gray-700 font-bold mb-2 font-inknut">Select Picture:</label>
                <input type="file" id="picture" name="picture" class="p-2 border rounded w-full">
            </div>
            <div class="mb-4">
                <label for="budget" class="block text-gray-700 font-bold mb-2 font-inknut">Budget:</label>
                <input type="text" id="budget" name="budget" class="p-2 border rounded w-full">
            </div>
            <div class="mb-4">
                <button type="submit" class="bg-stone-700 hover:bg-stone-800 text-white font-bold py-2 px-4 rounded w-full">Upload</button>
            </div>
        </form>
    </div><br><br><br><br><br><br><br><br><br>
    <footer class="bg-stone-800 py-8">
        <div class="container mx-auto grid grid-cols-2 md:grid-cols-3 gap-4">
          <div class="col-span-2 md:col-span-1 border-b border-white md:border-b-0 md:border-r">
            <h3 class="text-white text-lg font-semibold mb-4 font-inknut text-[25px]">RestoreRadiance</h3><br><br>
            <p class="text-gray-300  font-serif">RestoreRadiance is your partner in creating stunning living spaces. With a focus on innovation , we bring your vision to life with meticulous attention to detail.  our skilled team delivers exceptional results that exceed expectations. Let us illuminate your home's potential and restore its radiance.</p>
          </div>
          <div class="col-span-2 md:col-span-1 border-b border-white md:border-b-0 md:border-r">
            <h3 class="text-white text-lg font-semibold font-inknut text-[25px] mb-4">Navigation</h3><br><br>
            <ul>
              <li><a href="#" class="text-gray-300 hover:text-white font-serif">Designs</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white font-serif">Contact</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white font-serif">Team</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white font-serif">Project</a></li>
            </ul>
          </div>
          <div class="col-span-2 md:col-span-1 border-gray-700">
            <h3 class="text-white text-lg font-semibold mb-4 font-inknut text-[25px]">Follow Us</h3><br><br>
            <ul class="flex flex-col">
              <li class="mr-4">
                <a href="#" class="text-gray-300 hover:text-white">
                  <i class="fab fa-linkedin"></i> 
                  <span class="ml-1 font-serif">@RestoreRadiance</span>
                </a>
              </li>
              <li class="mr-4">
                <a href="#" class="text-gray-300 hover:text-white">
                  <i class="fab fa-instagram"></i> 
                  <span class="ml-1 font-serif">@RestoreRadiance</span>
                </a>
              </li>
              <li class="mr-4">
                <a href="#" class="text-gray-300 hover:text-white">
                  <i class="fab fa-facebook"></i>
                  <span class="ml-1  font-serif">@RestoreRadiance</span>
                </a>
              </li>
              <li>
                <a href="#" class="text-gray-300 hover:text-white">
                  <i class="fab fa-youtube"></i>
                  <span class="ml-1 font-serif">@RestoreRadiance</span>
                </a>
              </li>
            </ul>
            
          </div>
        </div>
        <br><br>
    
          <div class="container mx-auto text-center text-white">
            <p class="font-inknut">&copy; 2022 Home Renovation. All rights reserved.</p>
          </div>
        
      </footer>

