<!-- forgotpassword.component.html -->

<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full bg-white rounded-lg shadow-md p-8">
        <h1 class="text-2xl font-bold mb-2 text-center">Forgot Password</h1>
        <p class="text-sm text-stone-600 mb-6 text-center">Enter your phone number and we will send you otp to reset your password.</p>
    
        <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="phone" class="block text-stone-700 text-sm font-bold mb-2">Phone</label>
                <input type="tel" id="phone" name="phone" [(ngModel)]="phone" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
    
            <div class="flex items-center justify-between">
                <button type="submit" class="w-full bg-stone-600 text-white font-bold py-2 px-4 rounded hover:bg-stone-700 focus:outline-none focus:shadow-outline">Submit</button>
            </div>
        </form>
    
        <div class="mt-6 text-center text-sm">
            <p>Remember your password? <a href="login" class="text-stone-600 font-bold hover:stone-blue-700">Login</a></p>
        </div>
    </div>
</div>
